
/* using font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
/* header part styles */
.header-banner{
    width:1321px;
    height:auto;
    background-color:#161616;
    border-radius: 30px;
    margin:auto;
    margin-top:50px;
    display: flex;
}
.banner-info{
    width:531px;
    height:auto;
    margin-top:111px;
    margin-bottom:111px;
    margin-left:106px;

}
.banner-title{
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
}
p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.banner-button{
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.banner-button a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.banner-button i{
   color:white;
   font-size: 24px;
   margin-left:10px;
}

.banner-image{
    width:581px;
    height:auto;
    margin-top:33px;
    margin-left:24px;
    margin-right:79px;
}
.banner-image img{
    width:100%;
    height:auto;
}
/* main part of matches styles */
.match-container{
    margin-top:130px;
    margin-right:140px;
}
.fixed-menu{
    width:312px;
    height:auto;
    background: #161616;
    border-radius: 10px;
    margin-left:140px;
    margin-right:24px;  
}
.match-blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:24px;
}
.match-blog{
    width:312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.match-blog-image{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.match-blog-image img{
    width:100%;
    height:100%;
}
.match-blog-info{
    margin-left:20px;
}
.match-blog-button{
    width:100px;
    height:32px;
    border:1px solid gray;
    border-radius:2px;
    margin-top:20px;
    text-align: center;
}
.match-blog-button a{
    text-decoration: none;
    color: #161616;
    font-size: 16px;
    font-weight: 500;
   
}
.match-blog-title{
    color: #161616;
    font-size: 18px;
    font-weight: 600;
    margin-top:15px;
    margin-bottom:20px;
}
.match-blog-details{
    display:flex;
    margin-left:20px;
}
.match-blog-duration{
    width:60px;
}
.match-blog-comments{
    width:53px;
    margin-left:20px;
}